<div class="flex flex-column m-auto">
    <div class="flex justify-content-between align-items-center flex-wrap">
   <span class="mx-3">Old password</span>
        <input 
    type="text"
    pInputText 
    [ngClass]="{'input-error': !password || password.length<6}"
    [(ngModel)]="password">
    
</div>

<div class="mt-3 flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">New password</span>
         <input type="password"
     pInputText 
     [ngClass]="{'input-error': !password || password.length<3}"
     [(ngModel)]="password">
     
 </div>

 <div class="mt-3 flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3">Password repeat</span>
         <input type="password"
     pInputText 
     [ngClass]="{'input-error': password !==  repeatPassword}"
     [(ngModel)]="repeatPassword">
     
 </div>
 
  <div class="mt-3 flex justify-content-between align-items-center flex-wrap">
    <p-button 
    label="Change password"
    [disabled]="password?.length < 3 || password != repeatPassword"  
    (click)="onChange($event)" 
    ></p-button>
 </div>
  
</div>
<p-toast />
