<div class="aside m-3">
    <p>Выберите тип тура</p>

<p-select
    [options]= "tourTypes" 
    [(ngModel)]="selectedType" 
    (onChange)="changeTourType($event)"
    optionLabel="label" 
    placeholder="Выберите тип тура"
   class="w-full md:w-56" />

  <div class="my-3">
    <p-datepicker 
    [showIcon]="true"
    [(ngModel)]="date" 
    (onSelect)="changeDate($event)"
    [showButtonBar]="true"
    dateFormat="dd-mm-yy"
    (onClearClick)="changeDate($event)">
  </p-datepicker> 
  
  </div>

<div class="card flex justify-center">
   <p-checkbox [(ngModel)]="checked" [binary]="true" value = "tour" inputId="tour"/>
    <label for="tour">Туры, добавленные в корзину</label>
</div> 

</div>

<!--(onClear)="clearDate($event)" />-->